
<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Stonebridge Poker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <form class="form-inline mx-sm-3 mb-2">
        <input class="form-control mr-sm-2" #buyin type="text" placeholder="Buy in" aria-label="Buy in">
        <input class="form-control mr-sm-2" #playerName type="text" placeholder="Player" aria-label="Player">
        <button type="button" class="btn btn-secondary my-2 my-sm-0" (click)="AddPlayer(playerName.value, buyin.value)">Add</button>     
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="form-control mr-sm-2" #blindDuration type="text" placeholder="Duration(mm)" aria-label="Duration">
        <button class="btn btn-secondary my-2 my-sm-0" type="button" (click)="StartGame(blindDuration.value)">Start</button>   
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" [ngClass]="isVisible" class="btn btn-outline-warning" >{{timeLeft}}</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" [ngClass]="isVisible" class="btn btn-warning" >{{message}}</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" [ngClass]="isVisible" class="btn btn-warning" >{{potsize}}</button>
      </form>
    </div>
</nav> -->
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <br /><br />
    <div class="bg-dark p-4">
      <form class="form-inline mx-sm-3 mb-2">
        <input class="form-control mr-sm-2" #buyin type="text" placeholder="Buy in" aria-label="Buy in">
        <input class="form-control mr-sm-2" #playerName type="text" placeholder="Player" aria-label="Player">
        <button type="button" class="btn btn-secondary my-2 my-sm-0" (click)="AddPlayer(playerName.value, buyin.value)">Add</button>     
      </form>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div >
      <form class="form-inline mx-sm-3 mb-2">
        <button type="button" [ngClass]="isVisible" class="btn btn-warning" >{{message}}</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" [ngClass]="isVisible" class="btn btn-warning" >{{potsize}}</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label class="sr-only" for="inlineFormInputName2">Small</label>
        <input type="text" #smallBlind class="form-control mr-sm-2" id="smallBlind" placeholder="Small" value="{{smallAmount}}">
      
        <label class="sr-only" for="inlineFormInputGroupUsername2">Big</label>
        <input type="text" #bigBlind class="form-control mr-sm-2" id="bigBlind" placeholder="Big" value="{{bigAmount}}">

        <input [ngClass]="blindBackground" #blindDuration type="text" placeholder="Duration(mm)" aria-label="Duration" value="{{timeLeft}}">
        <button class="btn btn-secondary my-2 my-sm-0" type="button" (click)="StartGame(smallBlind.value,  bigBlind.value, blindDuration.value)">Start</button>  
        &nbsp;&nbsp;&nbsp;
        <a class="navbar-brand" href="#">Stonebridge Poker</a>
      </form>
    </div>    
  </nav>
</div>

    <main role="main" class="container">
    
    <div class="starter-template">
        <br /><br /><br /><br />

        <div class="container" *ngIf="isGameReady">
          <div class="row" >
              <div class="col p-0">
                <button type="button" class="btn btn-secondary" (click)="Deal()" [disabled]="dealDisabled">Deal - 1</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-secondary" (click)="DealFlop()" [disabled]="flopDisabled">Flop - 2</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-secondary" (click)="DealTurn()" [disabled]="turnDisabled">Turn - 3</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-secondary" (click)="DealRiver()" [disabled]="riverDisabled">River - 4</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-secondary" (click)="ShowCards()">Show Cards - 5</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-secondary" (click)="NewHand()">New Hand - 6</button> 
              </div>  
            </div>


        </div>     
        <app-table-component #child ></app-table-component>
    </div>
</main>