<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Stonebridge Poker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" #smblind type="text" placeholder="Small Blind" aria-label="Small Blind">
        <input class="form-control mr-sm-2" #bgblind type="text" placeholder="Big Blind" aria-label="Big Blind">
        <input class="form-control mr-sm-2" #buyin type="text" placeholder="Buy in" aria-label="Buy in">
        <button class="btn btn-secondary my-2 my-sm-0" type="button" (click)="NewGame(smblind.value, bgblind.value, buyin.value)">New Game</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="form-control mr-sm-2" #playerName type="text" placeholder="Name" aria-label="Name">
        <button type="button" class="btn btn-primary" (click)="AddPlayer(playerName.value)" [disabled]="!addNewPlayerButtonEnabled" >Add Player</button>        
      </form>

    </div>
    </nav>
    
    <main role="main" class="container">
    
    <div class="starter-template">
        <br /><br /><br />
        <div class="card w-50" *ngFor="let player of Players()" >
            <app-player-component [player]="player"></app-player-component>
        </div>
    </div>

    <div>
        <ul>
            <li *ngFor="let game of games | async" >
                <pre>{{ game | json }}</pre>
            </li>
        </ul>
    </div>
    <div>        <ul>
        <li *ngFor="let player of allPlayers" >
            <pre>{{ player | json }}</pre>
        </li>
    </ul></div>

    <div class="container">
        <div class="row">
          <div class="col">
            <div class="w-75 card">
                <div class="card-header bg-transparent">Player Name <span class="badge badge-primary badge-pill">$ 1422</span></div>
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <div class="card-body">
                        <div class="input-group input-group-lg mb-3">
                            <!-- &nbsp; <button type="button" class="btn btn-primary btn-sm">Fold Hand</button> &nbsp;  -->
                            <input type="text" class="form-control" placeholder="$$" aria-label="Ammount" aria-describedby="button-addon2">
                            <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="button-addon2">Bet</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm">Fold Hand</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-sm">Check</button> 
                      </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Bet amount, blind type</small>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="w-75 card">
                <div class="card-header bg-transparent">Player Name, and stack </div>
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                          </ul>
                      </div>
                </div>
            </div>            
          </div>
          <div class="col">
            <div class="w-75 card">
                <div class="card-header bg-transparent">Player Name, and stack </div>
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                      </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Bet amount, blind type</small>
                </div>
            </div>            
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card w-75">
                <div class="card-header bg-transparent">Player Name, and stack </div>
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <div class="card-body">
                        <div class="input-group input-group-lg mb-3">
                            <!-- &nbsp; <button type="button" class="btn btn-primary btn-sm">Fold Hand</button> &nbsp;  -->
                            <input type="text" class="form-control" placeholder="$$" aria-label="Ammount" aria-describedby="button-addon2">
                            <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="button-addon2">Bet</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm">Fold Hand</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-sm">Check</button> 
                      </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Bet amount, blind type</small>
                </div>
            </div>            
          </div>
          <div class="col">
            FLOP HERE
          </div>
          <div class="col">
            <div class="card w-75">
                <div class="card-header bg-transparent">Player Name, and stack </div>
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <div class="card-body">
                        <div class="input-group input-group-lg mb-3">
                            <!-- &nbsp; <button type="button" class="btn btn-primary btn-sm">Fold Hand</button> &nbsp;  -->
                            <input type="text" class="form-control" placeholder="$$" aria-label="Ammount" aria-describedby="button-addon2">
                            <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="button-addon2">Bet</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-sm">Fold Hand</button> &nbsp;
                        <button type="button" class="btn btn-primary btn-sm">Check</button> 
                      </div>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Bet amount, blind type</small>
                </div>
            </div>            
          </div>
        </div>
      </div>

</main>