<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Stonebridge Poker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" #smblind type="text" placeholder="Small Blind" aria-label="Small Blind">
        <input class="form-control mr-sm-2" #bgblind type="text" placeholder="Big Blind" aria-label="Big Blind">
        <input class="form-control mr-sm-2" #buyin type="text" placeholder="Buy in" aria-label="Buy in">
        <button class="btn btn-secondary my-2 my-sm-0" type="button" (click)="NewGame(smblind.value, bgblind.value, buyin.value)">New Game</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="form-control mr-sm-2" #playerName type="text" placeholder="Name" aria-label="Name">
        <button type="button" class="btn btn-primary" (click)="AddPlayer(playerName.value, buyin.value)" [disabled]="!addNewPlayerButtonEnabled" >Add Player</button>        
      </form>

    </div>
    </nav>
    
    <main role="main" class="container">
    
    <div class="starter-template">
        <br /><br /><br />
        <app-table-component [players]="Players()"></app-table-component>
        <!-- <div class="card w-50" *ngFor="let player of Players()" >
            <app-player-component [player]="player"></app-player-component>
        </div> -->
    </div>

    <div>
        <ul>
            <li *ngFor="let game of games | async" >
                <pre>{{ game | json }}</pre>
            </li>
        </ul>
    </div>
    <div>        <ul>
        <li *ngFor="let player of allPlayers" >
            <pre>{{ player | json }}</pre>
        </li>
    </ul></div>

<!-- 
    <div class="container">
        <div class="row">
          <div class="col">
            content 1,1
          </div>
          <div class="col">
content 1,2         
          </div>
          <div class="col">
            <div class="w-75 card">
                <div class="card-header bg-transparent">Player Name <span class="badge badge-info">$ 1422</span></div>
                    <div class="card-body">
                        <img class="card-img-top w-50" src="assets/images/2C.png" alt="Card1">
                        <img class="card-img-top w-50" src="assets/images/5H.png" alt="Card1"> 
                        <br /><br />
                        <div class="input-group input-group-lg mb-3">
                            <input type="text" class="form-control" placeholder="$$" aria-label="Ammount" aria-describedby="button-addon2">
                            <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="button-addon2">Bet</button>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary btn-sm">Fold</button>&nbsp;
                        <button type="button" class="btn btn-secondary btn-sm">Check</button>&nbsp;
                        <button type="button" class="btn btn-secondary btn-sm">View</button> 
                      </div>
                <div class="card-footer">
                  <small class="text-muted">Bet amount, blind type</small>
                </div>
            </div>            
          </div>
        </div>
        <div class="row">
          <div class="col">
            content 2,1           
          </div>
          <div class="col">
            content 2, 2 - FLOP
          </div>
          <div class="col">
 content 2, 3          
          </div>
        </div>
      </div> -->

</main>