    <div class="w-75 card">
        <div class="card-header bg-transparent"><strong>{{currentPlayer?.name}}</strong>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="badge badge-secondary">stack $ {{currentPlayer?.stack}}</span>  &nbsp;&nbsp;  
        </div>
            <div class="card-body">
                <img class="card-img-top w-50" [src]="card1SRC" alt="Card1">
                <img class="card-img-top w-50" [src]="card2SRC" alt="Card1"> 
                <br /><br />
                <div class="input-group input-group-lg mb-3">
                    <input type="text" class="form-control" #betInput placeholder="$$" aria-label="Ammount" aria-describedby="button-addon2">
                    <div class="input-group-append">
                    <button class="btn btn-danger" type="button" id="button-addon2" (click)="Bet(betInput.value)" [disabled]="isDisabled">Bet</button>
                    </div>
                </div>
                <div class="btn-group btn-group-sm" role="group" aria-label="First group">               
                    <button type="button" class="btn btn-outline-danger" (click)="FoldHand()" [disabled]="isDisabled">Fold</button>
                    <button type="button" class="btn btn-outline-danger" (click)="Check()" [disabled]="isDisabled">Check</button>
                    <button type="button" class="btn btn-danger" (click)="TurnOverCards()" [disabled]="isDisabled">View</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="isWinner" (change)="changed($event)"/>
                        <label class="form-check-label" for="exampleCheck1">Win</label>
                      </div>
                  </div>
              </div>
        <!-- <div class="card-footer">
          <small class="text-muted">Bet amount, blind type</small>
        </div> -->
    </div>   