<div class="container" *ngIf="isGameReady" > 
    <div class="row">
        <br />
    </div>  
    <div class="row">
      <div class="col">
        <app-player-component [player]="allPlayers[0]"></app-player-component>
      </div>
      <div class="col">
        <app-player-component [player]="allPlayers[1]"></app-player-component>
      </div>
      <div class="col">
        <app-player-component [player]="allPlayers[2]"></app-player-component>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-player-component [player]="allPlayers[3]"></app-player-component>          
      </div>
      <div class="col">
        <app-flop-component></app-flop-component>
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
      </div>     

  </div>

<ng-template #emptyRow1Cell1>
    Row 1 Cell 1
</ng-template>
    <ng-template #emptyRow1Cell2>
            Row 1 Cell 2
    </ng-template>
    <ng-template #emptyRow1Cell3>
            Row 1 Cell 3
    </ng-template> 
