<div class="container" *ngIf="isGameReady" > 
    <div class="row">
        <br />
    </div>  
    <div class="row p-2">
      <div class="col p-2">Seat #1
        <app-player-component [player]="allPlayers[0]"></app-player-component>
      </div>
      <div class="col p-2">Seat #2
        <app-player-component [player]="allPlayers[1]"></app-player-component>
      </div>
      <div class="col p-2">Seat #3
        <app-player-component [player]="allPlayers[2]"></app-player-component>
      </div>
    </div>
    <div class="row p-2">
      <div class="col p-2">Seat #8
        <app-player-component [player]="allPlayers[7]"></app-player-component>          
      </div>
      <div class="col p-2">
        <div class="bg-success p-2">
          <app-flop-component></app-flop-component>
        </div>
      <div class="p-3 mb-2 bg-warning text-dark font-weight-bold" *ngIf="message" >{{message}}</div>
      
      </div>
      <div class="col p-2">Seat #4
        <app-player-component [player]="allPlayers[3]"></app-player-component>    
      </div>
    </div>
    <div class="row">
        <div class="col p-2">Seat #7
          <app-player-component [player]="allPlayers[6]"></app-player-component>    
        </div>
        <div class="col p-2">Seat #6
          <app-player-component [player]="allPlayers[5]"></app-player-component>    
        </div>
        <div class="col p-2">5Seat #
          <app-player-component [player]="allPlayers[4]"></app-player-component>    
        </div>
      </div>     

  </div>

<ng-template #emptyRow1Cell1>
    Row 1 Cell 1
</ng-template>
    <ng-template #emptyRow1Cell2>
            Row 1 Cell 2
    </ng-template>
    <ng-template #emptyRow1Cell3>
            Row 1 Cell 3
    </ng-template> 
